In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
import pickle
import requests
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings('ignore')

In [4]:
symbol = "IBM"  ## tried KSE:100, KSE:ALL, KSE:30, KSE:300
apikey = "6431HV32Z6VY021P"        ## for API key: https://www.alphavantage.co/  then get free api key

url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=GOOGL&interval=5min&apikey={apikey}'
response = requests.get(url)

data = response.json()["Time Series (5min)"]
df = pd.DataFrame(data).transpose()
df = df.rename(columns={"1. open": "Open", "2. high": "High", "3. low": "Low", "4. close": "Close", "5. volume": "Volume"})
df.index = pd.to_datetime(df.index)
df = df.astype(float)

In [5]:
df

                         Open      High      Low     Close    Volume
2023-03-21 20:00:00  104.3200  104.3200  104.180  104.1800    5346.0
2023-03-21 19:55:00  104.3000  104.3300  104.220  104.2300    2319.0
2023-03-21 19:50:00  104.2800  104.2800  104.230  104.2300     923.0
2023-03-21 19:45:00  104.2400  104.2600  104.240  104.2600    2743.0
2023-03-21 19:40:00  104.2000  104.2700  104.200  104.2700    1228.0
...                       ...       ...      ...       ...       ...
2023-03-21 11:50:00  102.9650  103.2300  102.651  103.2017  573743.0
2023-03-21 11:45:00  102.9933  103.1199  102.810  102.9600  372301.0
2023-03-21 11:40:00  103.0600  103.1400  102.880  103.0000  716525.0
2023-03-21 11:35:00  102.8150  103.0700  102.810  103.0650  335841.0
2023-03-21 11:30:00  102.7894  102.8300  102.620  102.8150  297141.0

[100 rows x 5 columns]

In [4]:
X = df.drop(["Close"], axis=1)
y = df["Close"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

regressor = LinearRegression()
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)
score = regressor.score(X_test, y_test)
print("R-squared score:", score)

R-squared score: 0.9914371330292959

In [6]:
pickle.dump(regressor,open('model.pkl','wb'))

In [3]:
model=pickle.load(open('model.pkl','rb'))

In [7]:
# just for testing purpose
temp = np.array([103.6200,103.7300,103.5000,416146.0])
# data = {'Open': temp[0], 'High': temp[1],  'Low': temp[2],  'Volume': temp[3]}
# now = datetime.now()
# dt_string = now.strftime("%d-%m-%Y %H:%M:%S")
# test = pd.DataFrame(data, index=[dt_string])
y_pred = model.predict(temp.reshape(1, -1))
print("Predicted value", y_pred)

Predicted value [103.69269633]

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(